ErrorDocument 404 404.html
<Files *.xyz>
	ForceType application/octet-stream
	Header set Content-Disposition attachment
</Files>
<Files *.efp>
	ForceType application/octet-stream
	Header set Content-Disposition attachment
</Files>



